body{
    background-color: rgb(189, 189, 189);
}
p {
    padding: 0;
    margin:0;
    
    
}
article {
    position: relative;
    /* width: 30%; */
    border: 1px solid grey;
    /* margin-left: 1rem ; */
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 1rem 0.7rem grey;
    background: url(./fond-ph.jpg), repeat;
   
}
h2, h1{
    text-align: center;
}

.canc{
    position: absolute;
    right: 0.2rem;
    top: 0rem;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);

}
.canc1{
    position: absolute;
    right: 0.2rem;
    background: none;
    border: none;
    z-index: 10;

}

.vitaMostro{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: blue;
    text-decoration: underline;
}

#pulsanteInizio{
    text-decoration: none;
    box-shadow: 1px 6px 1rem grey;
    font-size: 30px;
    font-weight: 900;
    color: ghostwhite;
    background-color: burlywood;
    border-radius: 400px;
    position: fixed;
    right: 1rem;
    top: 5rem;
    padding: 0;
    width: 45px;
    z-index: 99;


}

